$point-xs: 769px;
$point-s: 960px;
$point-m: 1200px;
$point-l: 1440px;
$point-xl: 1920px;
$wrapper-s: 769px;
$wrapper-m: 960px;
$wrapper-l: 1200px;
$wrapper-xl: 1440px;

$violet: #921CBC;
$black: #1B1B29;
$white: #FFFFFF;
$grey: #828282;